# Ignore Jupyter Notebook checkpoints inside scripts/
scripts/.ipynb_checkpoints/

# Ignore Python cache files inside scripts/
scripts/__pycache__/


# Ignore environment variable files
.env

# Ignore system-specific files
.DS_Store
Thumbs.db
